In [70]:
import pandas as pd
import numpy as np

In [71]:
df = pd.read_csv('ovariancancer_grp.csv')
df.head()

   Cancer
0  Cancer
1  Cancer
2  Cancer
3  Cancer
4  Cancer

In [72]:
df.count

<bound method DataFrame.count of      Cancer
0    Cancer
1    Cancer
2    Cancer
3    Cancer
4    Cancer
..      ...
210  Normal
211  Normal
212  Normal
213  Normal
214  Normal

[215 rows x 1 columns]>

In [73]:
df['Status'] = df['Cancer'].apply(lambda x: 0 if x == 'Cancer' else 1).astype(np.float64)

In [74]:
df
df.loc[len(df.index)] = ['Cancer', 0.0]

In [75]:
df.to_csv('updated_file.csv', index=False)

In [77]:
df.count

<bound method DataFrame.count of      Cancer  Status
0    Cancer     0.0
1    Cancer     0.0
2    Cancer     0.0
3    Cancer     0.0
4    Cancer     0.0
..      ...     ...
211  Normal     1.0
212  Normal     1.0
213  Normal     1.0
214  Normal     1.0
215  Cancer     0.0

[216 rows x 2 columns]>

In [66]:
status_column = df['Status']
status_column

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
211    1.0
212    1.0
213    1.0
214    1.0
215    0.0
Name: Status, Length: 216, dtype: float64

In [67]:
df2 = pd.read_csv('ovariancancer_obs.csv')

df2.count

<bound method DataFrame.count of      0.063915  0.033242  0.018484  0.0086177  0.035629  0.037925  0.028865  \
0    0.025409  0.051085  0.056305   0.021738  0.027410  0.014914  0.022455
1    0.025536  0.036123  0.054195   0.009735  0.027521  0.052255  0.042812
2    0.012817  0.029652  0.079290   0.050677  0.039737  0.057713  0.044492
3    0.019846 -0.010577 -0.007504   0.019042  0.068786  0.061764  0.039036
4    0.039048  0.039355  0.001343   0.026221  0.044091  0.043953  0.039629
..        ...       ...       ...        ...       ...       ...       ...
210  0.019997  0.002927  0.006809  -0.003585  0.026362  0.026540  0.026112
211  0.042346  0.031884  0.049617   0.031419  0.042043  0.033383  0.054695
212  0.023558  0.021331  0.016210   0.012324  0.022074  0.029829  0.032624
213  0.028351  0.023266  0.004556   0.024095  0.018943  0.025935  0.019066
214  0.027428  0.027021  0.015273   0.026199  0.018178  0.022988  0.021955

     0.061731    0.0631  0.024787  ...  0.035119  0.021515  0.017385  \
0    0.023957  0.060527  0.047382  ...  0.050841  0.055033  0.080864
1    0.069087  0.069873  0.066629  ...  0.029078  0.033783  0.029022
2    0.034581  0.042587  0.034147  ...  0.054675  0.036083  0.038598
3    0.020445  0.025988  0.066716  ...  0.063163  0.032044  0.026320
4    0.047926  0.046892  0.030589  ...  0.080878  0.065494  0.030681
..        ...       ...       ...  ...       ...       ...       ...
210  0.026230  0.021676  0.024205  ...  0.016421  0.018509  0.013225
211  0.079029  0.063147  0.040817  ...  0.028273  0.019066  0.038845
212  0.022100  0.028950  0.037769  ...  0.048846  0.031909  0.019024
213  0.037213  0.041892  0.031092  ...  0.017150  0.012613  0.031370
214  0.044174  0.034616  0.030664  ...  0.023298  0.040424  0.011187

     0.018564  0.010027  0.012907  0.023405  0.038839  0.038151  0.032085
0    0.053423  0.051942  0.013187  0.028573  0.020427  0.023261  0.019975
1    0.046397  0.033288  0.041889  0.019256 -0.009447  0.021481  0.025569
2    0.048881  0.025569  0.026710  0.025122  0.047466  0.046706  0.043482
3    0.072016  0.070145  0.055744  0.051084  0.036683  0.043729  0.040289
4    0.039686  0.037256  0.022888  0.056221  0.055819  0.010087  0.006004
..        ...       ...       ...       ...       ...       ...       ...
210  0.015765  0.018762  0.012212  0.009340  0.020955  0.010685  0.013423
211  0.035201  0.013012  0.032180  0.026465  0.017850  0.036014  0.018276
212  0.024298  0.032061  0.009901  0.011709  0.008274  0.004742  0.024756
213  0.030285  0.034522  0.024089  0.006737  0.010033  0.017391  0.031537
214  0.007513  0.020666  0.040298  0.021256  0.026642  0.027718  0.040418

[215 rows x 4000 columns]>

In [69]:
df2.tail()

,0.063915,0.033242,0.018484,0.0086177,0.035629,0.037925,0.028865,0.061731,0.0631,0.024787,...,0.035119,0.021515,0.017385,0.018564,0.010027,0.012907,0.023405,0.038839,0.038151,0.032085
210,0.019997,0.002927,0.006809,-0.003585,0.026362,0.026540,0.026112,0.026230,0.021676,0.024205,...,0.016421,0.018509,0.013225,0.015765,0.018762,0.012212,0.009340,0.020955,0.010685,0.013423
211,0.042346,0.031884,0.049617,0.031419,0.042043,0.033383,0.054695,0.079029,0.063147,0.040817,...,0.028273,0.019066,0.038845,0.035201,0.013012,0.032180,0.026465,0.017850,0.036014,0.018276
212,0.023558,0.021331,0.016210,0.012324,0.022074,0.029829,0.032624,0.022100,0.028950,0.037769,...,0.048846,0.031909,0.019024,0.024298,0.032061,0.009901,0.011709,0.008274,0.004742,0.024756
213,0.028351,0.023266,0.004556,0.024095,0.018943,0.025935,0.019066,0.037213,0.041892,0.031092,...,0.017150,0.012613,0.031370,0.030285,0.034522,0.024089,0.006737,0.010033,0.017391,0.031537
214,0.027428,0.027021,0.015273,0.026199,0.018178,0.022988,0.021955,0.044174,0.034616,0.030664,...,0.023298,0.040424,0.011187,0.007513,0.020666,0.040298,0.021256,0.026642,0.027718,0.040418